* {
  padding: 0;
  margin: 0;
}
h1 {
  font-family: Lato;
}
footer,
h2,
legend,
label {
  font-size: 1rem;
}
.reg-section {
  padding: 15px 10px;
  background-color: #ccc;
  max-width: max-content;
  

}

fieldset {
  margin:10px;
  padding: 15px 10px;
}
